{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

  
{{#foreach navigation}}
  {{#matchRegex slug "\w{0,}-has_children"}}
    <li class="nav-{{slug}}">
      <a href="javascript:void(0)" class="js-open-secondary-menu">
        {{#removeNavigationType label "has_children"}}{{/removeNavigationType}}
        <span class="icon-chevron-down" aria-hidden="true"></span>
      </a>
    </li>
  {{else}}
    {{#matchRegex slug "\w{0,}-subitem"}}
    {{else}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/matchRegex}}
  {{/matchRegex}}
{{/foreach}}

{{!-- 
    <li class="nav-despre-has_children">
      <a href="javascript:void(0)" class="js-open-secondary-menu">
        Despre
        <span class="icon-chevron-down" aria-hidden="true"></span>
      </a>
    </li>
    {{#foreach navigation type="secondary"}}
    <li class="nav-subitem{{#if current}} nav-current{{/if}}">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}} --}}
