{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/page.js"}}" as="script" />
  <link rel="preload" href="{{asset "assets\css\green.css"}}" as="style"/>
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
{{/contentFor}}
<link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{#post}}
  {{> header background=feature_image}}
{{/post}}

<script>
    // Function to open a tab
    function openTab(tab, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        var currentTab = document.getElementById(tabName);
        currentTab.style.display = "flex";
        currentTab.style.flexDirection = "column";
        currentTab.style.alignItems = "center";

        tab.currentTarget.className += " active";
    }

    // Function to initialize slideshows independently
    function initializeSlideshows() {
        // Get all slideshow containers
        const slideshows = document.querySelectorAll(".slideshow-container");

        slideshows.forEach((slideshow) => {
            let slideIndex = 1;

            // Store slideIndex in a closure for each slideshow
            function showSlides(n) {
                let slides = slideshow.getElementsByClassName("mySlides");
                if (n > slides.length) { slideIndex = 1; }
                if (n < 1) { slideIndex = slides.length; }
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex - 1].style.display = "block";
            }

            // Add navigation functions to buttons
            const prevButton = slideshow.querySelector(".prev");
            const nextButton = slideshow.querySelector(".next");

            if (prevButton) {
                prevButton.addEventListener("click", () => {
                    slideIndex--;
                    showSlides(slideIndex);
                });
            }

            if (nextButton) {
                nextButton.addEventListener("click", () => {
                    slideIndex++;
                    showSlides(slideIndex);
                });
            }

            // Show the first slide initially
            showSlides(slideIndex);
        });
    }

    // Initialize slideshows when the window loads
    window.onload = function() {
        initializeSlideshows();
    };
</script>

<!-- Add similar containers for other slideshows -->


<main class="main-wrap">
    {{!-- Everything inside the #post tags pulls data from the post --}}
    {{#post}}
        {{!-- Inject styles of the hero image to make it responsive --}}
        
        <div style="margin:0 auto; width: 80%; ">
   <div class="container">
        <img src="/assets/images/OSUT_alb.svg" style="" class="image logo-infotech">

        <div class="light"></div>
      </div>
  <script src="/assets/js/lumina.js"></script>
  </div>
        </section>
        <article>
            <div id="Sustenabilitate" class="tabcontent">
                

            <div class="rand">
                                <div class="coloana" style="border-left: solid transparent;">
                                    <h1>SCOP</h1>
                                </div>
                                <div class="coloana">
                                    <h1>MISIUNE</h1>
                                </div>
                            </div>
                            <div class="rand">
                                <div class="coloana" style="border-right:solid;border-left:solid transparent; padding-right:2rem; padding-left:1rem">
                                    <p>
                                        Organizația Studenților din Universitatea Tehnică din Cluj-Napoca recunoaște și aplică valoarea principiilor dezvoltării durabile. Dezvoltarea durabilă reprezintă o serie de principii economice, sociale și de mediu ce permit realizarea activităților desfășurate de organizație, într-un mod în care cerințele prezentului sunt îndeplinite într-un mediu curat, echilibrat și integrat, Astfel, s-a redactat și implementat un Plan Strategic de dezvoltare durabilă în vederea realizării activităților specifice.
                                    </p>
                                </div>
                                <div class="coloana"style="border-right:solid transparent;border-left: solid transparent; padding-right:1rem; padding-left:0.8rem">
                                    <p>
                                       Fiind conștienți de impactul pe care Organizația Studenților din Universitate Tehnică din Cluj-Napoca (OSUT Cluj) îl are în viața studenților, ne dorim să oferim acestora prilejul să construiască împreună un mediu sustenabil propice dezvoltării lor. Viziunea noastră este de a crește conștientizarea problemelor cu care ne confruntăm când vine vorba de sustenabilitate în rândul comunității studențești. Prin intermediul inițiativelor pe care le derulăm, ne angajăm să mobilizăm și să îndrumăm studenții cu privire la importanța abordării unor practici responsabile și sustenabile, atât în contextul academic, cât și în viața de zi cu zi.
                                    </p>
                                </div>
                            </div>
            </div>
<br><br><br><br><br>
            <div id="Proiecte" class="tabcontent">
                
                            <h1 style="text-align: center">
                                PROIECTE
                            </h1>
                            <p>
                                Încă din 2003, Organizația Studenților din Universitatea Tehnică din Cluj-Napoca (OSUT
                                Cluj) își concentrează activitatea pe reprezentarea drepturilor studenților, apărarea intereselor
                                acestora, dar și în privința nevoilor studenților și dezvoltării acestora în complementar mediului
                                academic, prin organizarea a diferite proiecte, atât cu tematică de orientare în carieră (InfoTech,
                                Engineering Summer University - ESU), formare profesională (PoliHack), culturală
                                (PoliArt), cât și de bunăstare a tineretului (Zilele Universității Tehnice, Ce spun studenții?,
                                PoliSport etc.).
                            </p>

<br><br><br><br>
                            <h2 style="text-align: center">CROSUL UT</h2>
                            <br><br>
            <div class="flex-container3">
                
                            <div id="slideshow1" class="slideshow-container">
                                <!-- Full-width images with number and caption text -->
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/crosulUT.png'); background-size:cover;" >
                                    </div>
                                </div>
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/Crosul UT/cros1.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/Crosul UT/cros2.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/Crosul UT/cros3.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/Crosul UT/cros4.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/Crosul UT/cros5.jpg'); background-size:cover;" >
                                    </div>

                                    
                                </div>
                                
                                <!-- Next and previous buttons -->
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            </div>
                            <br>
                        
            </div>
                            
                            <br><br>
                            <div class="rand">
                                <div class="coloana" style="border-left: solid transparent;">
                                    <h3>Descriere</h3>
                                </div>
                                <div class="coloana">
                                    <h3>Ce am avut în vedere?</h3>
                                </div>
                            </div>
                            <div class="rand">
                                <div class="coloana" style="border-right:solid;border-left:solid transparent; padding-right:2rem; padding-left:1rem">
                                    <p>
                                        Crosul UT reprezintă un proiect de tradiție OSUT Cluj aflat la cea de-a 17-a ediție și care
                                        promovează un stil de viață sănătos și activ pentru tinerii comunității clujene printr-o competiție
                                        de alergare de 6 km. Acest eveniment este mai mult decât o simplă inițiativă sportivă, scopul lui
                                        fiind dublat de componenta caritabilă. Taxele de participare se întorc în comunitatea clujeană,
                                        prin sprijinul cauzelor umanitare.
                                    </p>
                                </div>
                                <div class="coloana"style="border-right:solid transparent;border-left: solid transparent; padding-right:1rem; padding-left:0.8rem">
                                    <p>
                                        În același timp, Crosul UT se angajează să fie un eveniment sustenabil, gestionând responsabil
                                        deșeurile prin containere de colectare selectivă și utilizând materiale reciclabile și
                                        biodegradabile. Pentru a întregi experiența participanților, tricourile oferite acestora vor fi
                                        confecționate din materiale organice și reciclabile, reflectând angajamentul nostru pentru
                                        mediul înconjurător și promovând mesajul de sustenabilitate către toți cei implicați în
                                        eveniment.
                                    </p>
                                </div>
                            </div>

<br><br><br><br><br><br><br>

                            <h2 style="text-align: center">POLIHACK</h2>
                            <br><br>
                            
            <div class="flex-container3">
                
                            <div id="slideshow2" class="slideshow-container">
                                <!-- Full-width images with number and caption text -->
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/polihack.jpg'); background-size:cover;" >
                                    </div>
                                </div>
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/PoliHack/PoliHack 1.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/PoliHack/PoliHack 2.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/PoliHack/PoliHack 3.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/PoliHack/PoliHack 4.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/PoliHack/PoliHack 5.jpg'); background-size:cover;" >
                                    </div>
                                
                                    
                                </div>
                                
                                <!-- Next and previous buttons -->
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            </div>
                            <br>
                        
            </div>
                            
                            <br><br>
                            <div class="rand">
                                <div class="coloana" style="border-left: solid transparent;">
                                    <h3>Descriere</h3>
                                </div>
                                <div class="coloana">
                                    <h3>Ce am avut în vedere?</h3>
                                </div>
                            </div>
                            <div class="rand">
                                <div class="coloana" style="border-right:solid;border-left:solid transparent; padding-right:2rem; padding-left:1rem">
                                    <p>
                                        Conceptul de PoliHack a luat naștere acum 13 ani, din nevoia de afirmare a studenților în fața
                                        companiilor. Scopul proiectului este de a ajuta tinerii studenți de pretutindeni să se facă
                                        remarcați în domeniul IT și să-i ajute să dezvolte skill-uri pe partea de antreprenoriat,
                                        reprezentând o rampă de lansare pe piața muncii pentru aceștia.Unul dintre obiectivele proiectului este crearea unei atmosfere competitiv-amicale timp de 48
                                        de ore în care cele 20 de echipe participante să își poată dezvolta ideile într-un posibil start-up în
                                        industria digitală. Pe durata acestei perioade, participanții vor lua parte la sesiuni de training în
                                        domeniul IT și antreprenorial, susținute de către mentori experimentați și vor avea
                                        posibilitatea de a participa la seri de networking alături de reprezentanții companiilor partenere.
                                        PoliHack își propune, de asemenea, să reprezinte o punte de comunicare și colaborare între
                                        tinerii studenți pasionați de domeniul tehnic și cele mai influente corporații din acest sector. Prin
                                        participarea la hackathon, tinerii au oportunitatea de afla aspectele cheie căutate de angajatori,
                                        pot primi sfaturi despre cum se desfășoară activitatea în marile companii ce activează în mediul
                                        IT și tips&tricks de valoare din lumea antreprenorială.
                                    </p>
                                </div>
                                <div class="coloana"style="border-right:solid transparent;border-left: solid transparent; padding-right:1rem; padding-left:0.8rem">
                                    <p>
                                        În cadrul proiectului, pentru a minimiza utilizarea hârtiei, se adoptă instrumente digitale
                                        pentru stocarea și transmiterea informațiilor și materialelor, iar gestionarea tuturor resurselor se
                                        va realiza exclusiv în mediul digital. Astfel, planificarea, monitorizarea și o parte din
                                        implementarea proiectului vor fi facilitate de instrumente digitale standardizate, asigurând o
                                        eficiență sporită și reducând impactul asupra mediului înconjurător. Totodată, în cadrul celor 48
                                        de ore de desfășurare a evenimentului, participanții o să fie încurajați să folosească containerele
                                        pentru colectarea selectivă a deșeurilor reziduale și reciclabile, cu scopul de a minimiza
                                        impactul asupra mediului cauzat de cantitatea și depozitarea selectivă a deșeurilor.
                                        Proiectul are un impact pozitiv asupra formării viitoare a unei generații creative. Prin oferirea
                                        unei platforme inovatoare și captivante, hackathonul devine un furnizor de oportunități pentru
                                        studenții și elevii implicați pentru a-și dezvolta ideile într-un start-up de succes. În același timp,
                                        mediul creat încurajează adoptarea unor metode cât mai verzi de desfășurare a
                                        activităților, pornind o obișnuință în rândul beneficiarilor direcți și indirecți.
                                    </p>
                                </div>
                            </div>



<!--                             <h3>Be Better Do Better</h3>
                            <img src="/assets/images/Poze Sustenabilitate/Be better, do better/Be Better Do Better 1.jpg" style="height:30%; width: 30%;">
                            <p></p>
 -->

 <br><br><br><br><br><br><br>

                            <h2 style="text-align: center">Engineering Summer University (ESU)</h2>
                            <br><br>
                            
            <div class="flex-container3">
                
                            <div id="slideshow3" class="slideshow-container">
                                <!-- Full-width images with number and caption text -->
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/esu.jpg'); background-size:cover;" >
                                    </div>
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/ESU/ESU 1.JPG'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/ESU/ESU 2.JPG'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/ESU/ESU 3.JPG'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/ESU/ESU 4.JPG'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/ESU/ESU 5.JPG'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/ESU/ESU 6.JPG'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                
                                <!-- Next and previous buttons -->
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            </div>
                            <br>
                        
            </div>
                            
                            <br><br>
                            <div class="rand">
                                <div class="coloana" style="border-left: solid transparent;">
                                    <h3>Descriere</h3>
                                </div>
                                <div class="coloana">
                                    <h3>Ce am avut în vedere?</h3>
                                </div>
                            </div>
                            <div class="rand">
                                <div class="coloana" style="border-right:solid;border-left:solid transparent; padding-right:2rem; padding-left:1rem">
                                    <p>
                                        ESU are ca prim obiectiv crearea unui context propice dezvoltării a 180 de elevi participanți pe
                                        parcursul celor 2 săptămâni de implementare prin informarea acestora cu privire la posibilitățile
                                        academice şi profesionale pe care Universitatea Tehnică din Cluj-Napoca (UTCN) și piața
                                        muncii le oferă. În această perioadă experimentează cursuri universitare, sesiuni de formare și
                                        activități culturale, profesionale, sportive și recreative, menite să îi ajute să își creeze atât un
                                        plan de viitor care include urmarea studiilor în diferite ramuri tehnice predate în universitate,
                                        cât și să își dezvolte skill-urile de comunicare și lucru în echipă. De asemenea, proiectul
                                        urmărește atragerea a minimum 60% din participanți spre a urma studii superioare în cadrul
                                        Universității Tehnice din Cluj-Napoca în termen de 2 ani de la finalizarea fiecărei edițiii, prin
                                        intermediul prezentării ofertei educaționale, sesiunilor de orientare și mentorat desfășurate pe
                                        parcursul taberei.
                                    </p>
                                </div>
                                <div class="coloana"style="border-right:solid transparent;border-left: solid transparent; padding-right:1rem; padding-left:0.8rem">
                                    <p>
                                        Pentru a sublinia angajamentul față de sustenabilitate, participanții primesc la începutul
                                        proiectului goodiebags cu materiale care să îi ajute pe parcursul activităților. Aceste goodiebags
                                        includ agende și pixuri fabricate din materiale ecologice, care pot fi utilizate în cadrul
                                        activităților didactice. De asemenea, în spiritul promovării unui stil de viață mai prietenos cu
                                        mediul înconjurător, participanții primesc și termosuri pentru consumul de lichide pe perioada
                                        proiectului. Totodată, în cadrul evenimentului sunt amplasate containere special destinate
                                        reciclării selective, evidențiind importanța și implicarea în practici responsabile în ceea ce
                                        privește gestionarea deșeurilor.
                                        Proiectul are un impact semnificativ asupra elevilor și a comunității academice clujene, prin
                                        facilitarea unei schimbări în perspectiva tinerilor cu privire la învățământul superior și cariera
                                        lor. ESU a reușit să inspire de-a lungul anilor peste 60% din tineri elevi să facă alegeri
                                        educaționale informate, să se implice activ în procesul de învățare şi să continue studiile în
                                        cadrul centrului universitar clujean.
                                        Prin proiectele desfășurate, OSUT Cluj nu numai că răspunde nevoilor comunității studențești,
                                        dar și contribuie la promovarea unui mediu mai curat și mai sănătos. Integrând practici
                                        ecologice în evenimentele organizate și folosind tehnologia pentru gestionarea eficientă a
                                        informațiilor, OSUT Cluj demonstrează că se preocupă de bunăstarea studenților și de mediul
                                        înconjurător în același timp. Astfel, organizația devine un model pentru formarea unei
                                        comunități studențești conștiente și implicate în protejarea mediului pentru viitor.
                                    </p>
                                </div>
                            </div>
                            
<br><br><br><br><br><br><br>

                            <h2 style="text-align: center">InfoTech</h2>
                            <br><br>
                            
            <div class="flex-container3">
                
                            <div id="slideshow4" class="slideshow-container">
                                <!-- Full-width images with number and caption text -->
                                <div class="mySlides fade">
                                    
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/InfoTech.png'); background-size:cover;" >
                                    </div>
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/InfoTech/infotech1.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/InfoTech/infotech2.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/InfoTech/infotech3.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/InfoTech/infotech4.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                <div class="mySlides fade">
                                    <div class="flex-container3" style="background-image: url('/assets/images/Poze Sustenabilitate/InfoTech/infotech5.jpg'); background-size:cover;" >
                                    </div>
                                    
                                    
                                </div>
                                
                                <!-- Next and previous buttons -->
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            </div>
                            <br>
                        
            </div>
                            
                            <br><br>
                            <div class="rand">
                                <div class="coloana" style="border-left: solid transparent;">
                                    <h3>Descriere</h3>
                                </div>
                                <div class="coloana">
                                    <h3>Ce am avut în vedere?</h3>
                                </div>
                            </div>
                            <div class="rand">
                                <div class="coloana" style="border-right:solid;border-left:solid transparent; padding-right:2rem; padding-left:1rem">
                                    <p>
                                        Unul dintre cele mai mari proiecte marca OSUT Cluj este InfoTech, care, organizat sub forma
                                        unui târg de cariere, are ca scop crearea un mediu adecvat în care studenții pot avea o
                                        comunicare eficientă și optimă cu companiile din ariile de interes.
                                        Obiectivul principal al proiectului este de a oferi unui număr de peste 2000 de studenți
                                        oportunitatea de a participa la workshop-uri de dezvoltare a soft skill-urilor și hard
                                        skill-urilor, evenimente de tip open days, dar și concursuri cu tematici tehnice de actualitate
                                        pe parcursul perioadei de implementare. Totodată, InfoTech are ca obiectiv colaborarea cu
                                        minimum 20 de firme din domeniul tehnic, cărora le pune la dispoziție un cadru oportun
                                        contactului cu studenții în cele 4 clădiri ale Universității Tehnice din Cluj-Napoca (UTCN),
                                        în care își pot prezenta domeniul de activitate și ofertele de angajare pe parcursul evenimentului.
                                    </p>
                                </div>
                                <div class="coloana"style="border-right:solid transparent;border-left: solid transparent; padding-right:1rem; padding-left:0.8rem">
                                    <p>
                                        Partea de protocol prevăzută în cadrul evenimentului s-a concentrat pe     materiale reciclabile
                                        astfel că s-au utilizat pahare biodegradabile pentru consumul de lichide iar în locațiile în care
                                        au avut loc evenimentele au fost amplasate containere pentru colectarea selectivă a deșeurilor
                                        reziduale și reciclabile cu scopul de a minimiza impactul asupra mediului.
                                        Proiectul are un impact pozitiv asupra tinerilor implicați în eveniment, atât prin dezvoltarea
                                        competențelor profesionale și personale, cât și prin promovarea spiritului antreprenorial. În
                                        egală măsură, în mod indirect, tinerii au luat parte la o conștientizare cu privire la
                                        importanța grijii care trebuie purtată mediului înconjurător.
                                    </p>
                                </div>
                            </div>
     
            </div>
<br><br><br><br><br>
        </article>
    {{/post}}
</main>





{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}
